<p>Forgot Password</p>
<%= form_for @user, :as => :user, :url => forgot_password_path, :method => :put do |f| %>
    <p>
      <%= f.label 'Email:' %><br/>
      <%= f.text_field :email %>
      <%= show_field_error(@user, :email) %>
    </p>
    <p>
      <%= f.submit 'Send Password Reset Instructions' %>
    </p>
<% end %>
